 <% if current_user %>
  Hi, <%= current_user.name %> <%= link_to "注销", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign in through Krypton", user_omniauth_authorize_path(provider: :krypton) %>
  <a href="javascript:KryptonID.new_session('<%= user_omniauth_authorize_path(provider: :krypton, theme: :iframe) %>')">modal</a>
<% end %>

<!-- spotlight-section -->
<head-lines></head-lines>
<!-- spotlight-section END -->

<!-- news-category-nav -->
<info-flows></info-flows>
<!-- news-category-nav END -->

<!-- app-section-header-next -->
<next-collections></next-collections>
<!-- app-next-section END -->

<!-- app-section-header-lnews -->
<div class="bloc l-bloc " id="app-section-header-lnews">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mg-clear text-center">
					<strong>K-NEWS</strong>
				</h3>
			</div>
		</div>
	</div>
</div>
<!-- app-section-header-lnews END -->

<!-- lighting-news-section -->
<div class="bloc l-bloc " id="lighting-news-section">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-6">
				<h3 class="mg-md">
					Heading content
				</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
				</p>
				<h3 class="mg-md">
					Heading content
				</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
				</p>
				<h3 class="mg-md">
					Heading content
				</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
				</p>
			</div>
			<div class="col-sm-6">
				<h3 class="mg-md">
					Heading content
				</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
				</p>
				<h3 class="mg-md">
					Heading content
				</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
				</p>
				<h3 class="mg-md">
					Heading content
				</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- lighting-news-section END -->

<!-- app-section-header-krtv -->
<div class="bloc l-bloc " id="app-section-header-krtv">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mg-md text-center">
					<strong>KTV</strong>
				</h3>
			</div>
		</div>
	</div>
</div>
<!-- app-section-header-krtv END -->

<!-- app-krtv-section -->
<div class="bloc  bg-camera d-bloc" id="app-krtv-section">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-4">
				<div class="embed-responsive embed-responsive-4by3">
					<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/111507117">
					</iframe>
				</div>
				<h3 class="mg-md">
					Title goes here
				</h3>
				<p>
					Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
				</p>
			</div>
			<div class="col-sm-4">
				<div class="embed-responsive embed-responsive-4by3">
					<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/111507117">
					</iframe>
				</div>
				<h3 class="mg-md">
					Title goes here
				</h3>
				<p>
					Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
				</p>
			</div>
			<div class="col-sm-4">
				<div class="embed-responsive embed-responsive-4by3">
					<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/111507117">
					</iframe>
				</div>
				<h3 class="mg-md">
					Title goes here
				</h3>
				<p>
					Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
				</p>
			</div>
		</div><br /><br />
		<div class="row">
			<div class="col-sm-4">
				<div class="embed-responsive embed-responsive-4by3">
					<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/111507117">
					</iframe>
				</div>
				<h3 class="mg-md">
					Title goes here
				</h3>
				<p>
					Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
				</p>
			</div>
			<div class="col-sm-4">
				<div class="embed-responsive embed-responsive-4by3">
					<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/111507117">
					</iframe>
				</div>
				<h3 class="mg-md">
					Title goes here
				</h3>
				<p>
					Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
				</p>
			</div>
			<div class="col-sm-4">
				<div class="embed-responsive embed-responsive-4by3">
					<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/111507117">
					</iframe>
				</div>
				<h3 class="mg-md">
					Title goes here
				</h3>
				<p>
					Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- app-krtv-section END -->

<!-- startup-union-section -->
<div class="bloc l-bloc " id="startup-union-section">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="text-center mg-clear">
					<strong>Startup Union</strong>
				</h3>
			</div>
		</div>
		<div class="row voffset">
			<div class="col-sm-3">
				<%= image_tag 'img/walkway.jpg', class: "img-responsive" %>
			</div>
			<div class="col-sm-3">
				<%= image_tag 'img/field.jpg', class: "img-responsive"  %>
			</div>
			<div class="col-sm-3">
				<%= image_tag 'img/newyork.jpg', class: "img-responsive" %>
			</div>
			<div class="col-sm-3">
        <%= image_tag 'img/map.jpg', class: "img-responsive"  %>
			</div>
		</div>
		<div class="row voffset">
			<div class="col-sm-3">
				<%= image_tag 'img/tracks.jpg', class: "img-responsive"  %>
			</div>
			<div class="col-sm-3">
				<%= image_tag 'img/sanfran.jpg', class: "img-responsive" %>
			</div>
			<div class="col-sm-3">
  			<%= image_tag 'img/cornfield.jpg', class: "img-responsive" %>
			</div>
			<div class="col-sm-3">
				<%= image_tag 'img/walkway.jpg', class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>
<!-- startup-union-section END -->

<!-- app-section-header-startup-union -->
<div class="bloc l-bloc " id="app-section-header-startup-union">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-3">
				<%= image_tag "img/ny-times.png", class: "img-responsive" %>
			</div>
			<div class="col-sm-3">
				<%= image_tag "img/forbes.png", class: "img-responsive" %>
			</div>
			<div class="col-sm-3">
				<%= image_tag "img/wired.png", class: "img-responsive" %>
			</div>
			<div class="col-sm-3">
				<%= image_tag "img/guardian.png", class: "img-responsive" %>
			</div>
		</div>
	</div>
</div>
<!-- app-section-header-startup-union END -->

<!-- excellent-comments BEGIN -->
<excellent-comments></excellent-comments>
<!-- excellent-comments END -->
