<?xml version="1.0" encoding="UTF-8"?>
<urlset>
  <% @posts.each do |post| %>
    <url>
      <loc><%= post_url post %></loc>
      <lastmod><%= post.published_at.strftime("%F") %></lastmod>
      <changefreq>always</changefreq>
      <priority>1.0</priority>
      <data>
         <display>
            <originality>1</originality>
            <title><%= post.title %></title>
            <release_time><%= post.published_at.strftime("%F %T") %></release_time>
            <source>http://www.36kr.com/</source>
            <source_name>36氪</source_name>
            <category><%= post.column.try(:name) %></category>
            <author><%= post.author.try(:display_name) %></author>
            <image />
         </display>
      </data>
    </url>
  <% end %>
</urlset>
