<div class="section aside-today" id="section_aside-today">
  <h2 class="aside-today__title">今日更新<span>+<%= @posts[:count] %></span></h2>
  <ul class="aside-today__list">
  <% @posts[:posts].each do |post| %>
    <li>
      <div class="topic">
        <span>
          <a target="_blank" href="/columns/<%= post["column"] && post["column"]["slug"] %>" class="<%= post["column"] && post["column"]["slug"] %>">
            <%= post["column"] && post["column"]["name"] %>
          </a>
          / <%= post["column"] && post["column"]["slug"] %>
        </span>
      </div>
      <h1>
        <a href="<%= post["title_link"].blank? ? ('/p/' + post["url_code"].to_s + '.html') : post["title_link"] %>" title="<%= raw post["title"] %>">
          <%= raw post["title"] %>
        </a>
      </h1>
    </li>
  <% end %>
  </ul>
</div>