<div class="content">
  <div class="content-wrapper">
    <h2 class="lastest">lastest news</h2>
    <div class="articles">
      <% posts_with_ads.each do |item| %>
        <% if item['position'] == nil && item["type"] != 'seperate' %>
          <article class="posts post-1 cf">
            <div class="info cf">
              <div class="topic left">
                <span>
                  <a class="<%= item["column"]["slug"] %>" href="/columns/<%= item["column"]["slug"] %>" > <%= item["column"]["name"] %> </a> / <%= item["column"]["slug"] %>
                </span>
              </div>
              <div class="postmeta right">
                <a href="#"> <%= item["author"] && item["author"]["display_name"] %> </a> •  <%= item["human_created_at"] %>
              </div>
            </div>
            <div class="left left-col">
              <div class="meta">
                <a title="评论次数" href="<%= item["title_link"].present? ? item["title_link"] : post_url(item["url_code"]) %>" >
                  <i class="icon icon-share"></i>
                  <%= item["comments_counts"] || 0 %>
                </a>
              </div>
              <div class="image feature-img thumb-180">
                <a href="<%= item["title_link"].present? ? item["title_link"] : post_url(item["url_code"]) %>">
                  <img src="<%= item["cover_real_url"] %>" alt="" />
                </a>
              </div>
            </div>
            <div class="right-col">
              <h1>
                <a href="<%= item["title_link"].present? ? item["title_link"] : post_url(item["url_code"]) %>" target="new" ><%= item["title"] %></a>
              </h1>
              <p><%= raw(item["summary"]) %></p>
            </div>
          </article>
        <% elsif item["position"] != nil %>
          <%= raw item["content"] %>
        <% end %>
      <% end if posts_with_ads.present? %>
    </div>
    <div class="pagination cf">
      <ul>
        <% unless pagination %>
          <% if posts_with_ads.present? %>
          <li class="next next_page right">
            <a rel="next" href="/info_flow/lastest">
              More <i class="icon-next"></i>
            </a>
          </li>
          <% end %>
        <% else %>
         <% if prev_page %>
           <li class="prev previous_page left">
             <%= link_to '← 上一页', "/info_flow/lastest?page=#{prev_page}", rel:"prev" %>
           </li>
         <% else %>
           <li class="prev previous_page left disabled"><a href="#"><i class="icon-prev"></i>上一页</a></li>
         <% end %>
         <% if next_page %>
           <li class="next next_page right">
             <%= link_to '下一页 →', "/info_flow/lastest?page=#{next_page}", rel:"next" if next_page %>
           </li>
         <% else %>
           <li class="next next_page right disabled"><a href="#"><i class="icon-next"></i>下一页</a></li>
         <% end %>
      <% end %>
      </ul>
    </div>
  </div>
</div>