<div class="content">
  <div class="content-wrapper">
    <h2 class="lastest">lastest news</h2>
    <div class="articles">
      <% posts_with_ads.each do |item| %>
        <% if item['position'] == nil && item["type"] != 'seperate' %>
          <article class="posts post-1 cf">
            <div class="info cf">
              <div class="topic left">
                <span>
                  <a class="startups" ref="/columns/<%= item["column"]["slug"] %>" href="javacript:void(0)" onclick="performLinkWithRel(this)" > <%= item["column"]["name"] %> </a> / <%= item["column"]["slug"] %>
                </span>
              </div>
              <div class="postmeta right">
                <a href="#"> <%= item["author"] && item["author"]["name"] %> </a> •  <%= item["human_created_at"] %>
              </div>
            </div>
            <div class="left left-col">
              <div class="meta">
                <a title="评论次数" ref="<%= item["title_link"] %>" href="javacript:void(0)" onclick="performLinkWithRel(this)" >
                  <i class="icon icon-share"></i>
                  <%= item["comments_count"] || 0 %>
                </a>
              </div>
              <div class="image feature-img thumb-180">
                <img src="<%= item["cover"]["url"] %>" alt="" />
              </div>
            </div>
            <div class="right-col">
              <h1>
                <a ref="<%= item["title_link"] %>" href="javacript:void(0)" onclick="performLinkWithRel(this)" ><%= item["title"] %></a>
                <p><%= item["summary"] %></p>
              </h1>
            </div>
          </article>
        <% elsif item["position"] != nil %>
          <%= raw item["content"] %>
        <% end %>
      <% end %>
    </div>
    <div class="pagination cf">
      <ul>
        <% unless pagination %>
          <li class="next next_page right">
            <a rel="next" href="/info_flow/lastest">
              More <i class="icon-next"></i>
            </a>
          </li>
        <% else %>
         <li class="prev previous_page left">
            <%= link_to '← 上一页', "/info_flow/lastest/#{prev_page}", rel:"prev" if prev_page %>
          </li>
          <li class="next next_page right">
            <%= link_to '下一页 →', "/info_flow/lastest/#{next_page}", rel:"next" if next_page %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>